@font-face {
  font-family: "main font";
  src: url("../assets/global/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.footer {
  position: fixed;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-image: url("../assets/global/header-black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -50;
  display: flex;
  flex-direction: column; }
  .footer .footer-logo-wrapper {
    display: flex;
    align-self: center; }

.footer-logo {
  width: 200px;
  height: auto;
  align-self: center;
  margin-top: 65px; }

.center-buttons {
  text-align: center;
  padding-top: 20px; }

.contact-icon {
  margin: 20px; }

a:hover {
  color: #eaeaea;
  text-decoration: none; }

.fab {
  color: #eaeaea; }

.copyright {
  color: #eaeaea;
  opacity: 0.6;
  display: flex;
  align-self: center;
  position: absolute;
  bottom: 8px; }
  .copyright a {
    color: #eaeaea; }

.navbar {
  color: #000;
  position: fixed;
  transition: 0.2s ease-in-out;
  z-index: 100;
  height: 100vh;
  width: 200px; }

.collapsed {
  right: 0;
  transform: translateX(185px); }

.expanded {
  right: 0; }

.toggle-tab {
  background-color: #eaeaea;
  padding: 30px;
  position: relative;
  right: 24px;
  border-radius: 30px;
  height: 93px;
  transition: 0.2s ease-in-out; }
  .toggle-tab:hover {
    transform: translateX(-5px); }

.arrow {
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: flex;
  padding: 3px;
  position: relative;
  right: 17px;
  top: 13px; }

.close {
  transform: rotate(-45deg); }

.open {
  transform: rotate(135deg); }

.navbar-list-invisible {
  display: none; }

.navbar-list-visible {
  position: fixed;
  background-color: #eaeaea;
  height: 100vh;
  list-style: none;
  padding: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.nav-item {
  line-height: 70px;
  color: #000;
  font-family: "main font";
  transition: 0.2s ease-in-out;
  display: block; }
  .nav-item:hover {
    color: #000;
    transform: scale(1.02); }

.black {
  background-color: #000 !important;
  color: #eaeaea !important; }

.white {
  background-color: #eaeaea !important;
  color: #000 !important; }

.black-text {
  color: #000; }

.white-text {
  color: #eaeaea; }

.btn {
  background-color: #eaeaea;
  border-radius: 20px;
  color: #000;
  display: flex;
  border: none;
  padding: 5px 10px 5px 23px;
  font-family: "main font";
  margin: auto;
  width: 130px;
  text-align: center; }

.eco-icon {
  height: auto;
  width: 100px;
  display: flex;
  align-self: center;
  margin: auto;
  padding-bottom: 30px; }

.markup-img {
  width: 300px;
  height: 300px; }

.modal-content {
  background-color: #eaeaea;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  font-family: main font; }

.header {
  background-image: url("../assets/global/header-black.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap; }

.header-logo {
  max-width: 450px;
  height: 80vh;
  align-self: center;
  margin: auto; }

.dark-section {
  background-image: url("../assets/about/dark-fabric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "main font";
  color: #eaeaea;
  text-align: center; }

.eco-section {
  background-image: url("../assets/about/eco-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  font-family: "main font";
  color: #eaeaea;
  flex-wrap: wrap; }

.textbody {
  align-self: center;
  max-width: 768px;
  padding: 50px; }
  .textbody h1 {
    font-size: 2.4rem; }
  .textbody p {
    font-size: 1.4rem; }

.round-btn {
  height: 200px;
  width: 200px;
  color: #eaeaea;
  background-color: transparent;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  outline: none;
  font-family: "main font";
  font-size: 1.5rem;
  padding: 40px;
  align-self: center;
  margin: auto;
  margin-bottom: 50px;
  transition: 0.2s ease-in-out; }
  .round-btn:hover {
    filter: drop-shadow(0 0 0.75rem #eaeaea); }

.thinner {
  font-weight: normal; }

.shop-ctas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 248px;
  justify-content: space-around; }

.myriad-cta-wrapper {
  display: flex;
  height: 281px;
  background-color: #eaeaea;
  flex: 1; }

.auction-cta-wrapper {
  display: flex;
  height: 281px;
  background-color: #000;
  flex: 1; }

.cta-title {
  color: #eaeaea;
  z-index: 50;
  font-family: "main font";
  margin: auto;
  text-align: center; }

.cta-btn {
  font-size: 3rem; }
  .cta-btn small {
    font-size: 1rem; }

.dark {
  color: #000; }
  .dark:hover {
    color: #000; }

.light {
  color: #eaeaea; }

.coming-soon {
  text-align: center;
  margin: auto;
  font-family: "main font";
  color: #eaeaea;
  padding: 20px; }

.auction-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column; }

.myriad-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #eaeaea;
  font-family: "main font";
  padding-top: 40vh; }
  .myriad-header h1 {
    font-size: 4rem; }
  .myriad-header small {
    font-size: 1rem;
    padding: 20px; }

.myriad-gradient {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #000, #eaeaea); }

.myriad-range {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 248px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px; }

.myriad-black,
.myriad-white {
  padding: 30px; }

.myriad-description {
  max-width: 200px;
  text-align: center;
  font-family: "main font";
  font-weight: 400;
  margin: auto;
  margin-top: 30px; }

.size-quantity {
  text-align: center; }

.dropdown,
.quantity {
  width: 50px;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 5px;
  margin: 10px;
  background-color: #eaeaea;
  font-family: "main font"; }

/*# sourceMappingURL=main.css.map */
